@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,600,700&display=swap);
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?mwzjsx");
  src: url("../fonts/icomoon.eot?mwzjsx#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?mwzjsx") format("truetype"), url("fonts/icomoon.woff?mwzjsx") format("woff"), url("../fonts/icomoon.svg?mwzjsx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="rs-icon-"]::before,
[class*=" rs-icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rs-icon-arrow-left:before {
  content: "\e901";
}

.rs-icon-time:before {
  content: "\e905";
}

.rs-icon-delivery:before {
  content: "\e906";
}

.rs-icon-current_menu_item-icon:before {
  content: "\e908";
}

.rs-icon-phone:before {
  content: "\e909";
}

.rs-icon-clock:before {
  content: "\e90a";
}

.rs-icon-arrow-right:before {
  content: "\e90b";
}

.rs-icon-email:before {
  content: "\e90c";
}

.rs-icon-location:before {
  content: "\e90d";
}

.rs-icon-list-arrow_right:before {
  content: "\e900";
}

.rs-icon-list-arrow_down:before {
  content: "\e903";
}

.rs-icon-list-arrow_up:before {
  content: "\e904";
}

.rs-icon-list-arrow_left:before {
  content: "\e907";
}

.rs-icon-clear:before {
  content: "\e902";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scrollbar-color: #fbd84f #fff;
  scrollbar-width: thin;
}

*::-moz-selection {
  background: #fbd84f;
  color: #fbd84f;
}

*::selection {
  background: #fbd84f;
  color: #fbd84f;
}

*::-webkit-scrollbar {
  cursor: pointer;
  width: 0.5rem;
  background: #fff;
  border-radius: 0px;
}

*::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #fbd84f;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-color: #fbd84f #fbd84f;
  scrollbar-width: thin;
}

*::before::-moz-selection, *::after::-moz-selection {
  background: #fbd84f;
  color: #fbd84f;
}

*::before::selection, *::after::selection {
  background: #fbd84f;
  color: #fbd84f;
}

*::before::-webkit-scrollbar, *::after::-webkit-scrollbar {
  cursor: pointer;
  width: 0.5rem;
  background: #fff;
  border-radius: 0px;
}

*::before::-webkit-scrollbar-thumb, *::after::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #fbd84f;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 120px;
}

html,
body {
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

body {
  color: #2b2d33;
  line-height: 1;
  font-family: "Source Sans Pro";
  font-size: 16px;
  background-color: #fff;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
button,
textarea {
  outline: none;
  font-family: "Source Sans Pro";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

button:active,
button:focus {
  outline: none !important;
}

button::-moz-focus-inner {
  border: 0 !important;
}

a {
  cursor: pointer;
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body.lock {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

[class*="__container"] {
  margin: 0 auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1140px;
  position: relative;
  z-index: 10;
}

@media (max-width: 768px) {
  [class*="__container"] {
    padding-left: 10px;
    padding-right: 10px;
  }
}
