// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,600,700&display=swap);

// Подключить если есть локальные файлы шрифтов
@import "fonts/fonts";

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
@import "fonts/icons";

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "Source Sans Pro";
$fontSize: 16px;

// Основные цвета
$accentColor: #fbd84f;
$fontColor: #2b2d33;
$bgColor: #fff;

// Минимальная ширина страницы
$minWidth: 320px;
// Ширина макета
$maxWidth: 1920px;
// Ширина ограничивающего контейнера
$maxWidthContainer: 1140px;

// Обнуление и общие параметры ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/_null";

body {
	// Скролл заблокирован
	&.lock {
		overflow: hidden;
		touch-action: none;
	}

	// Сайт загружен
	.loaded & {
	}
}

// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;

	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
	// Фикс для слайдерzов
	> * {
		min-width: 0;
	}
}

// Ограничивающий контейнер ======================================================================================================================================================================================================================
[class*="__container"] {
	margin: 0 auto;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	max-width: $maxWidthContainer;
	position: relative;
	z-index: 10;

	@media (max-width: 768px) {
		padding-left: 10px;
		padding-right: 10px;
	}
}
