.rs-icon-arrow-left:before {
	content: "\e901";
}
.rs-icon-time:before {
	content: "\e905";
}
.rs-icon-delivery:before {
	content: "\e906";
}
.rs-icon-current_menu_item-icon:before {
	content: "\e908";
}
.rs-icon-phone:before {
	content: "\e909";
}
.rs-icon-clock:before {
	content: "\e90a";
}
.rs-icon-arrow-right:before {
	content: "\e90b";
}
.rs-icon-email:before {
	content: "\e90c";
}
.rs-icon-location:before {
	content: "\e90d";
}
.rs-icon-list-arrow_right:before {
	content: "\e900";
}
.rs-icon-list-arrow_down:before {
	content: "\e903";
}
.rs-icon-list-arrow_up:before {
	content: "\e904";
}
.rs-icon-list-arrow_left:before {
	content: "\e907";
}
.rs-icon-clear:before {
	content: "\e902";
}
