.rs-contacts {
	position: relative;
	padding: 80px 0px;
	background: #f4f4f4;

	@media (max-width: 1140px) {
		padding: calc(50px + (80 - 50) * ((100vw - 320px) / (1140 - 320))) 0px;
	}

	h2 {
		text-align: center;
	}

	// .rs-contacts__map
	&__map {
		margin-top: 30px;
		width: 100%;
		height: 520px;
		position: relative;
		overflow: hidden;

		@media (max-width: 768px) {
			height: 100%;
		}

		// .rs-contacts__map_note
		&_note {
			width: 100%;
			padding: 40px 40px 40px;
			background: #ffffff;
			box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.08), inset 0px -4px 0px #f4cf39;
			transition: all 0.3s ease 0s;

			@media (min-width: 769px) {
				position: absolute;
				top: 0;
				left: 0;
				max-width: 540px;
				transform: translateX(-100%);

				@media (any-hover: hover) {
					&:hover {
						transform: translateX(-98%);
					}
				}

				&._contacts-show {
					transform: translateX(0);
				}
			}

			.rs-contacts__close {
				position: absolute;
				right: -35px;
				top: 0;
				width: 35px;
				height: 35px;
				background-color: #fbd84f;
				display: flex;
				align-items: center;
				justify-content: center;
				transition: all 0.3s ease 0s;
				display: none;

				@media (min-width: 769px) {
					display: block;
				}

				@media (any-hover: hover) {
					&:hover {
						background-color: #ffa800;
					}
				}

				&::before {
					display: block;
					font-size: 20px;
					transition: all 0.3s ease 0s;
					transform: rotate(180deg);
				}

				&._contacts-active {
					right: 0;
					&::before {
						transform: rotate(0deg);
					}
				}
			}

			&::before {
				content: url(../../../img/icons/square-icon--big.svg);
				margin-bottom: 24px;
				display: inline-block;
			}

			& > ul {
				margin-top: 26px;
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				column-gap: 18px;
				row-gap: 20px;

				@media (max-width: 540px) {
					grid-template-columns: repeat(1, 1fr);
				}

				& > li:nth-child(3) {
					a {
						text-decoration: underline;

						@media (any-hover: hover) {
							&:hover {
								text-decoration: none;
							}
						}
					}

					span {
						color: #808185;
					}
				}

				li {
					display: flex;

					&::before {
						font-size: 24px;
						margin-right: 12px;
					}

					a {
						transition: all 0.3s ease 0s;

						@media (any-hover: hover) {
							&:hover {
								color: #fbd84f;
							}
						}
					}

					& > ul {
						li {
							font-style: normal;
							font-weight: 400;
							font-size: 16px;
							line-height: 21px;
							display: flex;
							flex-direction: column;

							&:not(:first-child) {
								margin-top: 8px;
							}
						}
					}
				}
			}
		}

		.map {
			width: 100%;
			height: 520px;

			@media (max-width: 1140px) {
				height: calc(400px + (520 - 400) * ((100vw - 320px) / (1140 - 320)));
			}

			iframe {
				width: 100%;
				height: 100%;
			}
		}
	}
}
