.rs-features {
	margin: 40px 0 80px;
	position: relative;

	h2 {
		max-width: 600px;
	}

	// .rs-features__list
	&__list {
		margin-top: 50px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: 30px;
		row-gap: 40px;

		@media (max-width: 992px) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media (max-width: 540px) {
			grid-template-columns: repeat(1, 1fr);
		}
	}

	// .rs-features__img
	&__img {
		position: relative;
		display: inline-block;

		&_bg {
			position: absolute;
			bottom: 0;
			left: 0;
			height: 20px;
			width: 100%;
			z-index: 0;

			&::after {
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				height: 100%;
				width: 100%;
				background: #fbd84f;
			}
		}

		img {
			z-index: 1;
			position: relative;
		}
	}

	// .rs-features__description
	&__description {
		margin-top: 24px;

		@media (min-width: 993px) {
			max-width: 320px;
		}

		h3 {
			margin-bottom: 8px;
		}
	}
}
